@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../variables";

.appHeader{
	.appHeader--content{
		justify-content: space-between;
	
		h1{
			font-size:2em;
		}
	}
}

.appDetails{

	&.appDetails--lastRan p{
			text-align: right;
			margin-right:10px;

			@include mq("phone"){
				text-align: left;
				margin: 10px 0 40px 10px;
			}
	}

	&.appDetails--gitHub p{
		margin-left:10px;

		.githubLogo{
			margin-left:3px;
			position:relative;
			top:-2px;
		}
	}

	p{
		margin: 10px 0 40px;
		font-size:1em;
		font-weight:200;

		@include mq("phone"){
			margin: 10px 0 0;
		}
	}

	
}

.buttonContainer{
	margin: 0 0 40px;
}

.main-snackbar{
	background-color: #f8d7da !important;
	color:#721c24 !important;
	border: 1px solid #f5c6cb !important;
}

.ball{
	border-radius: 50%;
	width:100px;
	height:100px;
	background: radial-gradient(circle at 50% 40%,#fcfcfc,#efeff1 66%,#9b5050 100%);
	margin:20px auto;
	display: flex;
	justify-content: center;
	align-items: center;

	@include mq("phablet"){
		width:75px;
		height:75px;
	}


	span{
		font-size:2em;
	}

	&.ball-small{
		width:40px;
		height:40px;
		span{
			font-size:0.75em;
		}
	}
}

.oddsTable{
	.oddsTable--noCombos{
		opacity:0.25;
	}

	.oddsTable--nameCell{
		align-items: center;
		img{
			margin-right: 10px;
			max-width:50px;
			max-height: 50px;
		}
		p{
			position:relative;
			top:2px;
		}
		img, p{
			display: inline-block;
		}
	}

	.oddsTable--combosCell{
		span{
			font-weight: bold;
			display: inline-block;
			margin-right:5px;
		}

		.oddsTable--winsWith{
			margin-bottom:0;
			font-style: italic;
		}
	}
}

.winnerCard{
	margin: 10px;

	.winnerCard--content{
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.winnerCard--pick{
			align-self:flex-start;
			font-size:2.5em;
		}

		.winnerCard--imageContainer{
			height:150px;
			margin-bottom:20px;

			img{
				height: 100%;
			}
		}

		.winnerCard--teamName{
			height:80px;
			font-size:1.4em;

			p.changeArrow{
				text-align: center;
	
				&.changeArrow--arrow_upward{
					color:green;
				}
	
				&.changeArrow--arrow_downward{
					color:red;
				}
	
				span{
					position: relative;
					top:3px;
				}
			}
		}
	}
}

.orderTable{
	.orderTable--nameCell{
		align-items: center;
		img{
			margin-right: 10px;
			max-width:50px;
			max-height: 50px;
		}
		p{
			position:relative;
			top:2px;
		}
		img, p{
			display: inline-block;
		}
	}


	p.changeArrow{
		text-align: center;
		margin:0;

		&.changeArrow--arrow_upward{
			color:green;
		}

		&.changeArrow--arrow_downward{
			color:red;
		}

		span{
			position: relative;
			top:3px;
			font-size:16px;
		}
	}
}

.draftOrder--title{
	font-size:2.5em;
}