@import "../variables";

header{
	background: $blue;
	padding:20px 0;
	text-align:center;
	
	h1{
		color:$white;
		margin:0;

		@include mq("phone"){
			font-size:2rem;
		}
	}
}


.buttons{
	text-align:center;
	margin-top:40px;
	button{
		margin:20px;
		cursor:pointer;

		@include mq("phablet"){
			margin:10px;
		}
	}

	@include mq("phablet"){
		margin-top:20px;
	}
}

.alert-danger{
	margin:20px 0;
}

.draft-order{
	background: $blue;
	color: $white;
	padding: 0.5rem 1rem;
	text-align: center;
	margin-top:50px;
}

.last-ran{
	text-align: right;
	display: block;
	padding:10px;

	@include mq("phone"){
		text-align: center;
		padding:0;
	}
}