@import "../variables";

header{
	background: $blue;
	padding:20px 0;
	text-align:center;
	
	h1{
		color:$white;
		margin:0;
	}
}


.buttons{
	text-align:center;
	margin-top:40px;
	button{
		margin:20px;
		cursor:pointer;
	}
}

.alert-danger{
	margin:20px 0;
}

.draft-order{
	background: $blue;
	color: $white;
	padding: 0.5rem 1rem;
	text-align: center;
	margin-top:50px;
}

.last-ran{
	text-align: right;
	display: block;
	padding:10px;
}