@import "../variables";

.odds{
	margin-top:40px;
	h2{
		margin:0 0 30px;
		@include mq("phone"){
			margin:0 0 30px 15px;
		}
	}

	table{
		text-align: center;

		thead,th{
			text-align: center;
		}

		td.change-up, td.change-up i{
			color:green;
		}

		td.change-down, td.change-down i{
			color:red;
		}

		tr.eliminated{
			td,th{
				opacity:0.25;
			}
		}

		tbody tr {
			th:first-child{
				width:5%;
			}
			td:last-child{
				width:20%;
			}
			td{
				width:75%;
			}

			&.final-row{
				img{
					margin-right: 0;
				}
				th:first-child{
					width:10%;
					font-size:1.5em;
					font-weight: 500;
					vertical-align: middle;
				}
				td{
					width:80%;
					vertical-align: middle;
					padding:20px; 
					
					p{
						margin:10px 0 0 0;
					}
				}
				td:last-child{
					width:10%;
					font-size:1.5em;
				}
			}
		}
	}
}